@media screen and (max-width: 900px) {
    .fixed{
       
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        height: 100%;
        flex-direction: row;
    }
    .slideshow{
        height: 50%;
        
    }
    .items{
         display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    height: 100%;
    }
    .quaylai{
        font-size: 60%;
    }
    .dungthu{
     height: 100%;
    }
    .dungthu button{
         font-size: 50%;
    }
 .dungthu p{
        display: none;
    }
    .maytinh{
    height: 15px;
    color: orange;
    font-size:10px;
   
}
.maytinhbang{
    height: 15px;
     font-size:10px;
    color:darkgray;
   
}
.dienthoai{
    height: 15px;
     font-size:10px;
     color:darkgray;
}
 .text-menunoibat h1{
        font-size:12px;
        width: 100px;
    }
    .text-menunoibat .fas.fa-grip-lines{
    
        font-size: 150%;
    }
    .text-xemthem button{
        width: 70%;
        font-size: 100%;
    }
    .item3{
        display: none;
    }
    .item6{
        display: none;
    }
    .item9{
        display: none;
    }
    .item1{
        background-color: #F5F5F5;
    }
    .item1 img{
       height: 50%;
        width: 140%;
    }
    
    
     .item2{
        background-color: #F5F5F5;
    }
    .item2 img{
         height: 50%;
         width: 120%;
    }
    .item4{
         background-color: #F5F5F5;
    }
    .item4 img{
        height: 50%;
         width: 130%;
    }
    .item5{
        background-color: #F5F5F5;
    }
    .item5 img{
        height: 50%;
         width: 120%;
    }
    .item7{
        background-color: #F5F5F5; 
    }
    .item8{
         background-color: #F5F5F5;
    }
    .item7 img{
         height: 50%;
         width: 130%;
    }
     .item8 img{
         height: 50%;
         width: 120%;
    }
    .item1 button{
        width: 100%;
        margin-right: 40%
    }
    .item2 button{
        width: 100%;
        margin-right: 40%
    }
    .item4 button{
        width: 100%;
        margin-right: 40%
    }
    .item5 button{
        width: 100%;
        margin-right: 40%
    }
    .item7 button{
        width: 100%;
        margin-right: 40%
    }
    .item8 button{
        width: 100%;
        margin-right: 40%
    }
    .article-blog h3{
        font-size: 100%;
        font-weight: bold;
    }
    .article-blog-aside h3{
        font-size: 100%;
        font-weight: bold;
    }
    .blog2-item1 button{
        width: 100%;
    }
      .blog2-item2 button{
        width: 100%;
    }
      .blog2-item3 button{
        width: 100%;
    }
    .blog2-item1 p{
        font-size: 90%;
    }
        .blog2-item2 p{
        font-size: 90%;
    }
        .blog2-item3 p{
        font-size: 90%;
    }
    .blog2-item1 h3{
        font-size: 100%;
        font-weight: bold;
    }
    .blog2-item2 h3{
        font-size: 100%;
        font-weight: bold;
    }
    .blog2-item3 h3{
        font-size: 100%;
        font-weight: bold;
    }
    .cuahang-text h1{
        font-size: 170%;
    }
    .signature-slideshow h7{
        font-size: 70%;
        margin-bottom: 7%
        
    }
    .ATEAGLECOFFEE-text h1{
        font-size: 170%
    }
    }
