

.container{
    width: 1008px;
    height: cover;
    
}
.nav{
    height:50px;
    background-color: black;
    list-style: none;
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.nav ul{
    list-style: none;
}
li:hover{
         
    border-bottom: double orange;
    transition: 0.7s;
}
a:hover{
    color:white;
    text-decoration: none;
}
a{
    font-size: 12px;
    color:white;
    font-weight: 800;
    
}
.distinct{
    position: absolute;
    top:20%;
    height: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}
#xanhla{
    
    color:darkgreen;
}
.slideshow{
    height:600px;
    position: relative;
}
.slideshow h1{
   
    font-size: 90px;
   font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
.slideshow p{
    font-size: 20px;
font-family: 'Merriweather', serif;
    font-style: italic;
}
.Readmore{
    background-color: #332927;
    border: none;
    width:70%;
    height: 50px;
    font-family: 'Merriweather', serif;
    color:white;
    font-weight: bold;
}
.readmore button:hover{
    color:black;
    border: 2px solid #332927;
   background: transparent;
    transition: 0.5s;
}
    

.fixed{
   
    height: 70px;
    background-color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quaylai{
    height: 30px;
   
}
.items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 30px;

}
.dungthu{
    height: 30px;
   
}
.dungthu p{
    position: absolute;
    right: -5%;
    top: 30%;
}
.maytinh{
    height: 30px;
    color: orange;
    font-size:14px;
   
}
.maytinhbang{
    height: 30px;
     font-size:14px;
    color:darkgray;
   
}
.dienthoai{
    height: 30px;
     font-size:14px;
     color:darkgray;
   
}